<div class="row d-flex justify-content-center align-items-center">
    <form #UserProject="ngForm" (ngSubmit)="onSubmit(UserProject.value)">
        ID number:<br>
        <input type="text" name="name" ngModel aria-describedby="IDnumber" placeholder="Your Teudat zeut"><br>
        <br><br>
        <button type="submit" name="save" value="Save" class="btn btn-primary" style="justify-self: start;">
            <i class="far fa-paper-plane fa-lg"></i>
            Send
        </button>
    </form>
</div>